

body {
    font-family: 'Nunito', sans-serif;
	/*color: #69727b;*/
}

h1 {
        font-family: 'Nunito',sans-serif;
    font-size:3em;
    font-weight: 700;
    line-height: 1.2em
}

h2 {
        font-family: 'Nunito',sans-serif;
    font-size: 2em;
    font-weight: 700;
    padding-bottom: 0.2em;
}

h3 {    
    font-family: 'Nunito',sans-serif;
    font-size:1.4em;
    font-weight: 700;
    padding-bottom: 0.2em;
}

h4 {
    font-family: 'Nunito',sans-serif;
    color:#e86935;
    font-size: 1.3em;
    font-weight: 700;
    padding-bottom: 0.2em;
    margin-top:0!important;
    padding-top:0!important;
}

p {
    font-size:15px;
    padding-top: 1em;
    font-weight: 400;
}

.hero {
    background-image: url(./../images/2chance-bg.jpg);
    background-position: center right;
    background-size: cover;
    color:#fff;
    padding-top: 20px;
}

.logo img {
    width: 140px;
    height:auto;
    
}

.bogo {
    padding:1em 0 3em 0;
}

.bogo .large-8 {
    padding-top:4em;
}

.bogo img {
    padding-right: 30px;
}
.hero-signup {
    padding-top: 2em;
}


/*Orange banner*/
.orange {
    background-color:#EE6A27;
    padding: 2em 0;
    color: #fff;
    text-align: center;
}

.orange p {
    padding-top:0;
}

.orange .small-4 {
    padding:0 30px;
}


.orange-steps {
    border-right: 1px solid hsla(0,0%,100%,.5);
    height: 100%;
    padding: 0 20px;
    visibility: visible;
}

.steps {
    padding: 0 2px;
}

/*second orange Banner*/
.orangecta {
    background-color: #f68424;
    padding: 3em 0;
    color: #fff;
    text-align: center;
}

/*Rules*/
.rules {
   background-image: url(./../images/2chance-bg.png);
    background-position: center;
    background-size: auto;
    padding: 60px 0; 
    
}

.rules .grid-container {
    background-color: rgba(255,255,255, 1);
    padding: 40px 40px;
}

.rules p {
    padding-top: 0;
}


/*Mobile style*/

@media screen and (max-width: 39.9375em) {
    .bogo { padding:2.5em 20px;}
    .bogo .large-7 {
        padding-top: 2.5em;
    }
    .bug {
    padding-top:40px;
}
    .orange .small-12 {
        padding-top: 1.5empx;
    }  
    
    .orange-steps {
    border-bottom: 1px solid hsla(0,0%,100%,.5);
    height: 100%;
    padding: 0 20px;
    visibility: visible;
}
}

@media screen and (max-width: 1023px) {
    .orange .medium-12 {
        padding-top: 1.5em;
    }  
   .orange-steps {
    border-bottom: 1px solid hsla(0,0%,100%,.5);
    height: 100%;
    padding: 0 20px;
    visibility: visible;
}
}



