@font-face {
    font-family:'mairy';
src:url('./../fonts/mairy_regular-webfont.eot');
src:url('./../fonts/mairy_regular-webfont.ttf');
src:url('./../fonts/mairy_regular-webfont.woff');
    font-weight:normal;
    font-style:normal;
}

body {
    font-family: proxima-nova, sans-serif;
	/*color: #69727b;*/
}

h1 {
        font-family: proxima-nova,sans-serif;
    font-size:3em;
    font-weight: 700;
    line-height: 1.2em
}

h2 {
        font-family: proxima-nova,sans-serif;
    font-size: 2em;
    font-weight: 700;
    padding-bottom: 0.2em;
}

h3 {    
    font-family: proxima-nova,sans-serif;
    font-size:1.4em;
    font-weight: 700;
    padding-bottom: 0.2em;
}

h4 {
    font-family: 'mairy',sans-serif;
    color:#009DDB;
    font-size: 1.3em;
    font-weight: 700;
    padding-bottom: 0.2em;
    margin-top:0!important;
    padding-top:0!important;
}

p {
    font-size:15px;
    padding-top: 1em;
    font-weight: 400;
}

.hero {
    background-image: url(./../images/landingpg-bg-new.jpg);
    background-position: center center;
    background-size: cover;
    color:#fff;
    padding-top: 40px;
}

.logo img {
    width: 68px;
    height:auto;
    
}

.bogo {
    padding:3em 0;
}

.bogo .large-8 {
    padding-top:4em;
}

.bogo img {
    padding-right: 30px;
}
.hero-signup {
    padding-top: 2em;
}


/*Blue banner*/
.blue {
    background-color:#00ADEF;
    padding: 2em 0;
    color: #fff;
    text-align: center;
}

.blue p {
    padding-top:0;
}

.blue .small-4 {
    padding:0 30px;
}


.blue-steps {
    border-right: 1px solid hsla(0,0%,100%,.5);
    height: 100%;
    padding: 0 20px;
    visibility: visible;
}

.steps {
    padding: 0 2px;
}

/*Green Banner*/
.green {
    background-color: #6CC722;
    padding: 3em 0;
    color: #fff;
    text-align: center;
}

/*Rules*/
.rules {
   background-image: url(./../images/alc-background.jpg);
    background-position: center right;
    background-size: cover;
    padding: 60px 0; 
    
}

.rules .grid-container {
    background-color: rgba(255,255,255, 0.4);
    padding: 40px 40px;
}

.rules p {
    padding-top: 0;
}


/*Mobile style*/

@media screen and (max-width: 39.9375em) {
    .bogo { padding:2.5em 20px;}
    .bogo .large-7 {
        padding-top: 2.5em;
    }
    .bug {
    padding-top:40px;
}
}


