<!-- Not Logged In User -->
<div class="blue">
        <div class="grid-container">
            <div class="grid-x grid-padding-x" data-equalizer data-equalize-on="medium">
            <div class="small-12 medium-12 large-3 columns blue-steps" data-equalizer-watch>
              <h3>Step 1</h3>
              <img src="https://image.email.alc.ca/lib/fe9515737161027c73/m/5/e3e9c589-c5ac-4c09-b86a-cdf2914d3278.png" style="max-width:42px;">
              <p>Login or create an account at ALC.ca.</p>
          </div>
          <div class="small-12 medium-12 large-3 columns blue-steps" data-equalizer-watch>
              <h3>Step 2</h3>
              <img src="https://image.email.alc.ca/lib/fe9515737161027c73/m/5/e869f16e-496f-4294-8a19-0bd1b5c76263.png" style="max-width:138px;">
              <p>Enter promo code "BOGO".</p>
          </div> 
          <div class="small-12 medium-12 large-3 columns blue-steps" data-equalizer-watch>
              <h3>Step 3</h3>
              <img src="https://image.email.alc.ca/lib/fe9515737161027c73/m/5/53b2a1f9-36f0-49fc-aa73-963731d29c2d.png" style="max-width:72px;">
              <p>Choose your game(s) and for every $10 you spend in September, we’ll match it and credit your account in October.</p>
          </div>
          <div class="small-12 medium-12 large-3 columns steps" data-equalizer-watch>
              <h3>Step 4</h3>
              <img src="https://image.email.alc.ca/lib/fe9515737161027c73/m/5/bec06307-72a7-4c25-a643-37e57ed1b056.png" style="max-width:52px;">
              <p>Check your e-mail to confirm you are enrolled in the promotion.</p>
          </div>
            
            </div>
        </div>
    </div>

    <!-- Logged In User -->
    <div class="blue">
      <div class="grid-container">
          <div class="grid-x grid-padding-x centered" data-equalizer data-equalize-on="medium">
              <div class="small-12 medium-12 large-4 columns blue-steps" data-equalizer-watch>
                  <h3>Step 1</h3>
                  <p>Enter your promo code below:</p>
                  <form>
                      <input type="text" id="promoCode" placeholder="Enter your promo code" required style="max-width:400px;margin:auto;text-align:center;">
                      <button class="button hollow">Submit</button>
                    </form>
                  <div class="callout small success" id="successMessage" style="display:none;">
                      <p><strong>Success!</strong> Your promo code has been accepted!</p>
                  </div>
              </div> 
              <div class="small-12 medium-12 large-4 columns blue-steps" data-equalizer-watch>
                  <h3>Step 2</h3>
                  <img src="https://image.email.alc.ca/lib/fe9515737161027c73/m/5/53b2a1f9-36f0-49fc-aa73-963731d29c2d.png" style="max-width:72px;">
                  <p>Choose your game(s) and for every $10 you spend in September, we’ll match it and credit your account in October.</p>
              </div>
              <div class="small-12 medium-12 large-4 columns steps" data-equalizer-watch>
                  <h3>Step 3</h3>
                  <img src="https://image.email.alc.ca/lib/fe9515737161027c73/m/5/bec06307-72a7-4c25-a643-37e57ed1b056.png" style="max-width:52px;">
                  <p>Check your e-mail to confirm you are enrolled in the promotion.</p>
              </div>
          </div>
      </div>
  </div>